python-telegram-bot==21.6
google-generativeai==0.8.3
python-dotenv==1.0.1
Pillow==10.4.0
PyGithub==2.5.0
protobuf==5.29.6
grpcio==1.68.1
grpcio-status==1.68.1
googleapis-common-protos==1.66.0
google-api-core==2.24.0
